<%= form_for(@comment, :remote=>true, :html=>(@comment.new_record? ? { :id=>'new_comment' } : {})) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= hidden_field_tag :return_path, return_path if local_assigns[:return_path] %>
    <%= f.text_area :comment, :style=>(local_assigns[:height] ? "height: #{height}px;" : '') %>
  </div>
  <div class="actions" style="text-align: right;">
    <%= f.submit %>
  </div>
<% end %>
