<style>
  td { border: 0 dashed red; vertical-align: top; }
  ul { padding: 1em 1em 1em 1em; margin: 0; list-style-type:none; }
  li { line-height: 2em; font-size: medium; }
  h2 { display: inline-block; margin-right: 1em; }
  th { padding: .5em; font-size: medium; }
</style>

<h1>Listing schedules</h1>


<% @schedules.each do |schedule| %>

  <h2><%= schedule.name %></h2>
  <%= link_to 'Show', schedule %>
  <%= link_to 'Edit', edit_schedule_path(schedule) %>
  <%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %>
<table style="margin-left: auto; margin-right: auto;">
  <thead>
    <% day = Date.today.strftime('%A') %>
    <th style="<%= 'color: #DD6600;' if day == 'Monday' %>">Monday</th>
    <th style="<%= 'color: teal;' if day == 'Tuesday' %>">Tuesday</th>
    <th style="<%= 'color: #DD6600;' if day == 'Wednesday' %>">Wednesday</th>
    <th style="<%= 'color: #DD6600;' if day == 'Thursday' %>">Thursday</th>
    <th style="<%= 'color: #DD6600;' if day == 'Friday' %>">Friday</th>
    <th style="<%= 'color: #DD6600;' if day == 'Saturday' %>">Saturday</th>
    <th style="<%= 'color: #DD6600;' if day == 'Sunday' %>">Sunday</th>
  </thead>
  <tbody>
    <tr>
      <td>
        <ul>
          <% schedule.scheduled_events.where('day = "mon"').each do |event| %>
            <li><%= link_to event.event.name, event.event %></li>
          <% end %>
        </ul>
      </td>
      <td>
        <ul>
          <% schedule.scheduled_events.where('day = "tue"').each do |event| %>
            <li><%= link_to event.event.name, event.event %></li>
          <% end %>
        </ul>
      </td>
      <td>
        <ul>
          <% schedule.scheduled_events.where('day = "wed"').each do |event| %>
            <li><%= link_to event.event.name, event.event %></li>
          <% end %>
        </ul>
      </td>
      <td>
        <ul>
          <% schedule.scheduled_events.where('day = "thu"').each do |event| %>
            <li><%= link_to event.event.name, event.event %></li>
          <% end %>
        </ul>
      </td>
      <td>
        <ul>
          <% schedule.scheduled_events.where('day = "fri"').each do |event| %>
            <li><%= link_to event.event.name, event.event %></li>
          <% end %>
        </ul>
      </td>
      <td>
        <ul>
          <% schedule.scheduled_events.where('day = "sat"').each do |event| %>
            <li><%= link_to event.event.name, event.event %></li>
          <% end %>
        </ul>
      </td>
      <td>
        <ul>
          <% schedule.scheduled_events.where('day = "sun"').each do |event| %>
            <li><%= link_to event.event.name, event.event %></li>
          <% end %>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<% end %>

<br>

<%= link_to 'New Schedule', new_schedule_path %> |
<%= link_to 'New Scheduled Event', '#', :id=>"scheduled_event_form_revealer", :class=>'fake_link' %>
<% @scheduled_event = ScheduledEvent.new %>
<div id="scheduled_event_form_container" style="display: none;"><%= render :partial=>'scheduled_events/form' %></div>
