<style>
  td { padding: .5em; }
</style>
<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1>

<div style="text-align: right; display: inline-block;">
  <%= form_for [@event, Comment.new] do |f| %>
    <%= f.text_area :comment, :style=>'width: 500px;' %><br />
    <%= f.hidden_field :commentable_id, :value=>@event.id %>
    <%= f.hidden_field :commentable_type, :value=>@event.class.name %>
    <%= f.submit %>
  <% end %>
</div>

<table style="max-width: 500px">
  <% @event.comments.all.each do |comment| %>
    <tr>
      <td style="white-space: nowrap; vertical-align: top; font-size: medium;"><%= comment.created_at %></td>
      <td><%= comment.comment %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', schedules_path %>
