<style>
  td { padding: 1em; vertical-align: top; }
  td.commentable_link a { font-size: medium; }
  td.comment { line-height: 1.5em; }
  td.comment_actions a { font-size: x-small; }
  td p { padding-top: 0; margin-top: 0; }
</style>
<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1>

<div style="text-align: right; width: 500px; margin-left: auto; margin-right: auto;">
  <%= form_for [@event, Comment.new] do |f| %>
    <%= f.text_area :comment, :style=>'width: 100%' %>
    <%= f.hidden_field :commentable_id, :value=>@event.id %>
    <%= f.hidden_field :commentable_type, :value=>@event.class.name %>
    <%= f.submit %>
  <% end %>
</div>

<table style="margin-left: auto; margin-right: auto;">
  <% @event.comments.all.each do |comment| %>
    <tr>
      <% day = nil %>
      <td style="white-space: nowrap; font-size: medium;">
        <% unless day == comment.created_at.strftime('%A') %>
          <% day = comment.created_at.strftime('%A') %>
           <%= comment.created_at.strftime('%a, %b %d, %Y') %>
        <% end %>
      </td>
      <td style="font-size: medium; white-space: nowrap;">
        <%= comment.created_at.strftime('%-I:%M %p') %>
      </td>
      <td class="comment" style="max-width: 500px;"><%= simple_format(comment.comment) %></td>
      <td class="comment_actions" style="white-space: nowrap;">
        <%= link_to 'Show', comment %> |
        <%= link_to 'Edit', edit_comment_path(comment) %> |
        <%= link_to 'Destroy', comment_path(comment, :return_path=>event_path(@event)), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', schedules_path %>
