<%= form_for(@scheduled_event) do |f| %>
  <% if @scheduled_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scheduled_event.errors.count, "error") %> prohibited this scheduled_event from being saved:</h2>

      <ul>
      <% @scheduled_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day %><br>
    <%= f.select :day, [['Mon', 'mon'], ['Tue', 'tue'], ['Wed', 'wed'], ['Thu', 'thu'], ['Fri', 'fri'], ['Sat', 'sat'], ['Sun', 'sun']] %><br>
  </div>
  <div class="field">
    <%= f.label :schedule %><br>
    <%= f.select :schedule_id, current_user.schedules.map{ |s| [s.name, s.id] } %>
  </div>
  <div class="field">
    <%= f.label :event %><br>
    <%= f.select :event_id, current_user.events.map{ |e| [e.name, e.id] } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
