<h1>Listing scheduled_events</h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Event</th>
      <th>Schedule</th>
    </tr>
  </thead>

  <tbody>
    <% @scheduled_events.each do |scheduled_event| %>
      <tr>
        <td><%= scheduled_event.day %></td>
        <td><%= scheduled_event.event.name if scheduled_event.event %></td>
        <td><%= scheduled_event.schedule.name if scheduled_event.schedule %></td>
        <td><%= link_to 'Show', scheduled_event %></td>
        <td><%= link_to 'Edit', edit_scheduled_event_path(scheduled_event) %></td>
        <td><%= link_to 'Destroy', scheduled_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scheduled event', new_scheduled_event_path %>
