<!DOCTYPE html>
<html>
<head>
  <title>FuzzySched</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  <div id="nav_links_container">
    <%= link_to 'Comments', comments_path, :style=>"#{'font-weight: bold; font-size: medium; text-decoration: none;' if controller_name == 'comments'}" %> |
    <%= link_to 'Schedules', schedules_path, :style=>"#{'font-weight: bold; font-size: medium; text-decoration: none;' if controller_name == 'schedules'}" %> |
    <%= link_to 'Meals', meals_path, :style=>"#{'font-weight: bold; font-size: medium; text-decoration: none;' if controller_name == 'meals'}" %> |
    <%= link_to 'Events', events_path, :style=>"#{'font-weight: bold; font-size: medium; text-decoration: none;' if controller_name == 'events'}" %> |
    <%= link_to 'Scheduled Events', scheduled_events_path, :style=>"#{'font-weight: bold; font-size: medium; text-decoration: none;' if controller_name == 'scheduled_events'}" %> |
    <%= link_to 'Sign out', destroy_user_session_path, :method=>:delete %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
